 /* body {
    padding-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
} */

.box {
    background: rgb(220, 235, 245);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(59, 58, 58);
    padding: 2%;
    margin-bottom: 3%;
    text-align: center;
    align-items: center;
}

/* .title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .1rem;
    font-size: 3rem;
    margin-bottom: 1%;
} */

hr {
    width: 100%;
}

.guide {
    padding: 2% 15%;
    font-size: 1.5rem;
}

form {
    padding: 0 3%;
}

label {
    font-size: 1.5rem;
}

.form-control {
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #fff;
}

.form-control:focus {
    border: 1px solid darkgoldenrod;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {
    color: #444;
    font-weight: 900;
}
.btn:hover{
    background: rgb(4, 66, 77);
    
}
@media (max-width: 425px) {
    .box{
        width: 100% !important;
        margin: 3%;
    }
}